@import url('https://fonts.googleapis.com/css?family=Poiret+One');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #212121;
  font-family: 'Poiret One', cursive;
}

.card {
  position: relative;
  width: 500px;
  min-width: 500px;
  height: 620px;
  padding: 1rem;
  background: linear-gradient(lightskyblue 20%, white);
  border-radius: 2px;
  overflow: hidden;
}

.hb {
  font-size: 40px;
  color: #3F51B5;
  text-align: center;
  transform: skewY(-5deg);
  text-shadow: 2px 0px 10px #b53f51;
}

.girl {
  position: absolute;
  bottom: 60px;
  left: -20px;
  width: 500px;
  height: auto;
}

.bag {
  position: absolute;
  bottom: -4px;
  right: 70px;
  width: 150px;
  height: auto;
  transform: rotate(-60deg);
}

.emo-1 {
  position: absolute;
  top: 100px;
  left: 1rem;
  width: 100px;
  transform: rotate(-30deg);
}

.emo-2 {
  position: absolute;
  top: 70px;
  left: 200px;
  width: 100px;
}

.emo-3 {
  position: absolute;
  top: 100px;
  right: 1rem;
  width: 100px;
  transform: rotate(30deg);
}

.emo-4 {
  position: absolute;
  bottom: 180px;
  left: 1rem;
  width: 80px;
  transform: rotate(-30deg);
}

.emo-5 {
  position: absolute;
  bottom: 180px;
  right: 1rem;
  width: 80px;
  transform: rotate(30deg);
}
