html,body,div{
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html,body{
  height: 100%;
}
body{
  color: #fff;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
.container{
  width: 100%;
  height: 100%;
  min-width: 300px;
}
.header-room{
  width: 100%;
  background: url('pics/ipla37uj2dw-marko-pekic.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
    overflow-x: hidden;
  min-width: 300px;
}
a{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

input[type=text],
input[type=email]{
  width: 40%;
  height: 20px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  font-size: 18px;
  color: #fff;
  transition: border 0.3s;
}
input[type=text]:focus,
input[type=email]:focus{
  border: none;
  border-bottom: 2px solid #fff;
}
.container{
  padding: 0;
  margin: 0;
  width: 100%;
}

/*Header*/
header{
  width: 100%;
  height: 100%;
}
.flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-container{
  width: 100%;
  height: auto;
  padding: 1px;
  background-color: transparent;
}

.logo{
    padding: 0 10px;
    margin-right: auto;
  }

.logo-img{
  width: 90px;
  height: 65px;

}

.nav-container{
  direction: ltr;
  align-items:flex-end;
  justify-content: flex-end;
}

.nav-item{
  padding: 0 10px;
}

.contact-container{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.center-div{
  width: 70%;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  margin: auto;
}

.contact-info{
  padding: 5px;
}

.contact-button{
  display: block;
  border: 1.5px solid #fff;
  border-radius: 10px;
  padding: 10px 30px;
  font-size: 20px;
}
.button-color{
  background-color: #2573B5;
}
/*Address section*/
.address-div{
  height: 60%;
  background-color: #F7F5F0;
}

.venue-map{
  position: relative;
}

.address{
  background-color: #F7F5F0;
  width: 80%;
  margin: 0 auto;
  padding: 5px 15px;
  color: #555;
  box-sizing: border-box;
}

.tag{
  width: 200px;
  height: 150px;
}

.logo-link{
  display: inline-block;
  padding-right: 5px;
}

.addr-color{
  color: #555;
}
/*Register information*/
#register{
  background-color: #FFF;
}
.text-color{
  color: #2774B5;
}
.message{
  width: 90%;
  height: 200px;
}

/*Footer*/
.footer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333333;
  color: #fff;
}
/*.footer-logo{
  width: 27%;
}
.footer-nav{
  width: 20%;
}
.services{
  width: 50%;
}*/
.about{
  width: 100%;
  margin: 10px 1px;
}
.list{
  margin: 5px;
}

/*Common styles*/
.spacing{
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}
.justify-right{
  justify-content: flex-end;
}

.large{
  font-size: 60px;
}

.centre{
  text-align: center;
}
.row{
  width: 100%;
}
.col1-3{
  width: 33%;
}
.col2-3{
  width: 66%;
}
.col1-2{
  width: 49%;
}
